{% extends "layouts/base.html" %}

{% block title %} Chart JS {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Line Chart</div>
            </div>
            <div class="card-body">
                <div class="chart-container">
                    <canvas id="lineChart2"></canvas>
                </div>
            </div>
        </div>
    </div>
    {% for dashboard in dashboard_list %}
        <li>
            {{dashboard.dvsn}}
            {{dashboard.no}}
            {{dashboard.day1}}
            {{dashboard.day2}}
        </li>
    {% endfor %}

{% endblock content %}

{% block javascripts %}

	<script>
	    var lineChart2 = document.getElementById('lineChart2').getContext('2d');

        var temp = "{{dashboard_list}}";
        var temp2 = temp.replace(/&#39;/g, "\"");
        var data = JSON.parse(temp2);
        var data2 = Object.values(data[0]).splice(2,10);

        console.log(temp2);
        console.log(data2);




        var myLineChart2 = new Chart(lineChart2, {
			type: 'line',
			data: {
				labels: ["-1day", "-2day", "-3day", "-4day", "-5day", "-6day", "-7day", "-8day", "-9day", "-10day"],
				datasets: [{
					label: "order",
					borderColor: "#1d7af3",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#1d7af3",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: [data2[0],data2[1],data2[2],data2[3],data2[4],data2[5],data2[6],data2[7],data2[8],data2[9]]
				}]
			},
			options : {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					position: 'bottom',
					labels : {
						padding: 10,
						fontColor: '#1d7af3',
					}
				},
				tooltips: {
					bodySpacing: 4,
					mode:"nearest",
					intersect: 0,
					position:"nearest",
					xPadding:10,
					yPadding:10,
					caretPadding:10
				},
				layout:{
					padding:{left:15,right:15,top:15,bottom:15}
				}
			}
		});

	</script>

{% endblock javascripts %}
