{% extends "layouts/base.html" %}

{% block title %} Chart JS {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Line Chart</div>
            </div>
            <div class="card-body">
                <div class="chart-container">
                    <canvas id="lineChart2"></canvas>
                </div>
            </div>
        </div>
    </div>
    {% for shop in shop_list %}
        <li>
            {{shop.name}}
            {{shop.day1}}
            {{shop.day2}}
            {{shop.day3}}
        </li>
    {% endfor %}


{% endblock content %}

{% block javascripts %}

	<script>
	    var lineChart2 = document.getElementById('lineChart2').getContext('2d');

        var myLineChart2 = new Chart(lineChart2, {
			type: 'line',
			data: {
				labels: ["-1day", "-2day", "-3day", "-4day", "-5day", "-6day", "-7day", "-8day", "-9day", "-10day"],
				datasets: [{
					label: "order",
					borderColor: "#1d7af3",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#1d7af3",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: [17204590,14989590,18637600,15118180,12237200,14975300,15654160,22641180,15242760,21567600]
				}]
			},
			options : {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					position: 'bottom',
					labels : {
						padding: 10,
						fontColor: '#1d7af3',
					}
				},
				tooltips: {
					bodySpacing: 4,
					mode:"nearest",
					intersect: 0,
					position:"nearest",
					xPadding:10,
					yPadding:10,
					caretPadding:10
				},
				layout:{
					padding:{left:15,right:15,top:15,bottom:15}
				}
			}
		});

	</script>

{% endblock javascripts %}
