<!--https://www.w3schools.com/icons/fontawesome5_icons_design.asp-->
		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2" data-background-color="dark2">
					
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">
						<ul class="nav nav-primary">
							<li class="nav-item active">
								<div class="collapse" id="dashboard">
									<ul class="nav nav-collapse">
										<li>
											<a href="/">
												<span class="sub-item">Dashboard 1</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-section">
								<span class="sidebar-mini-icon">
									<i class="fa fa-ellipsis-h"></i>
								</span>
								<h4 class="text-section">Components</h4>
							</li>
							<li class="nav-item">
								<a data-toggle="collapse" href="#sales">
									<i class="fas fa-chart-line"></i>
									<p>매출</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="sales">
									<ul class="nav nav-collapse">
										<li>
											<a href="sales-simsale">
												<span class="sub-item">심쿵할인</span>
											</a>
										</li>
<!--										<li>-->
<!--											<a href="sales-sale09">-->
<!--												<span class="sub-item">할인중독</span>-->
<!--											</a>-->
<!--										</li>-->
<!--										<li>-->
<!--											<a href="sales-market09">-->
<!--												<span class="sub-item">공구마켓</span>-->
<!--											</a>-->
<!--										</li>-->
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a data-toggle="collapse" href="#users">
									<i class="far fa-user"></i>
									<p>유저</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="users">
									<ul class="nav nav-collapse">
										<li>
											<a href="users-simsale">
												<span class="sub-item">심쿵할인</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a data-toggle="collapse" href="#charts">
									<i class="far fa-chart-bar"></i>
									<p>Charts</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="charts">
									<ul class="nav nav-collapse">
										<li>
											<a href="/charts_ex.html">
												<span class="sub-item">Chart Ex</span>
											</a>
										</li>
										<li>
											<a href="/sparkline.html">
												<span class="sub-item">Sparkline EX</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a data-toggle="collapse" href="#maps">
									<i class="fas fa-map-marker-alt"></i>
									<p>Maps</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="maps">
									<ul class="nav nav-collapse">
										<li>
											<a href="/jqvmap.html">
												<span class="sub-item">JQVMap</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
				</div>
			</div>
		</div>
		<!-- End Sidebar -->
