{% extends "layouts/base.html" %}

{% block title %} Chart JS {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

<!-- #################################################### -->
<!-- static/assets/css/atlantis.css 파일 class 색깔 정하기 -->
<!-- #################################################### -->
{% block content %}
{% for lotto in lottos %}
<div class="page-inner">
	<div class="page-header">
            <h4 class="page-title">Forms</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="#">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Forms</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Basic Form</a>
                </li>
            </ul>
        </div>
    <div class="page-category">
    	<a href="https://www.chartjs.org/" target="_blank">
    		full documentation
    	</a>
    </div>
    <div class="row">
    	<div class="col-md-12">
            <div class="card">
                <div class="card-header">
                	<div class="card-title">
                		<div style ="float:left">
                			<h2> 
                				Please write down the episode you want.
                			</h2>	
                		</div>
                		<form action ="/lotto" method = "GET">
	                		<div style ="float:right">
	                			<input class="btn btn-info"
	                			       type="submit" 
	                			       id="TestBtn"
	                			       disabled="true"
	                			       value="제출">
	               			</div>
	               			<div style ="float:right; margin-right:20px;">
		                		<input id="turn" 
		                		       name="turn"
		                		       type="text"
		                		       class="form-control"
		                		       placeholder="only number">
	                		</div>
                		</form>
                	</div>
                </div>
                <div class="card-body">
                    <p class="demo">
                        <ul class="pagination pg-primary">
		                    <li class="page-item active">
		                    	<a class="page-link">{{lotto.seq}}</a>
		                    </li>
		                    <li class="page-item text-dark">
		                    	<a class="page-link">{{lotto.n1}}</a>
		                    </li>
		                    <li class="page-item text-dark">
		                    	<a class="page-link">{{lotto.n2}}</a>
		                    </li>
		                    <li class="page-item text-dark">
		                    	<a class="page-link">{{lotto.n3}}</a>
		                    </li>
		                    <li class="page-item text-dark">
		                    	<a class="page-link">{{lotto.n4}}</a>
		                    </li>
		                    <li class="page-item text-dark">
		                    	<a class="page-link">{{lotto.n5}}</a>
		                    </li>
		                    <li class="page-item text-dark">
		                    	<a class="page-link text-dark">{{lotto.n6}}</a>
		                    </li>
                		</ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                    	LIST
                    </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="basic-datatables" 
                               class="display table table-striped table-hover" >
                            <thead>
                                <tr>
                                    <th>seq</th>
                                    <th>n1</th>
                                    <th>n2</th>
                                    <th>n3</th>
                                    <th>n4</th>
                                    <th>n5</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>
                                <tr>
                                    <td>Garrett Winters</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>63</td>
                                    <td>2011/07/25</td>
                                    <td>$170,750</td>
                                </tr>
                                <tr>
                                    <td>Ashton Cox</td>
                                    <td>Junior Technical Author</td>
                                    <td>San Francisco</td>
                                    <td>66</td>
                                    <td>2009/01/12</td>
                                    <td>$86,000</td>
                                </tr>
                                <tr>
                                    <td>Cedric Kelly</td>
                                    <td>Senior Javascript Developer</td>
                                    <td>Edinburgh</td>
                                    <td>22</td>
                                    <td>2012/03/29</td>
                                    <td>$433,060</td>
                                </tr>
                                <tr>
                                    <td>Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>33</td>
                                    <td>2008/11/28</td>
                                    <td>$162,700</td>
                                </tr>
                                <tr>
                                    <td>Brielle Williamson</td>
                                    <td>Integration Specialist</td>
                                    <td>New York</td>
                                    <td>61</td>
                                    <td>2012/12/02</td>
                                    <td>$372,000</td>
                                </tr>
                                <tr>
                                    <td>Herrod Chandler</td>
                                    <td>Sales Assistant</td>
                                    <td>San Francisco</td>
                                    <td>59</td>
                                    <td>2012/08/06</td>
                                    <td>$137,500</td>
                                </tr>
                                <tr>
                                    <td>Rhona Davidson</td>
                                    <td>Integration Specialist</td>
                                    <td>Tokyo</td>
                                    <td>55</td>
                                    <td>2010/10/14</td>
                                    <td>$327,900</td>
                                </tr>
                                <tr>
                                    <td>Colleen Hurst</td>
                                    <td>Javascript Developer</td>
                                    <td>San Francisco</td>
                                    <td>39</td>
                                    <td>2009/09/15</td>
                                    <td>$205,500</td>
                                </tr>
                                <tr>
                                    <td>Sonya Frost</td>
                                    <td>Software Engineer</td>
                                    <td>Edinburgh</td>
                                    <td>23</td>
                                    <td>2008/12/13</td>
                                    <td>$103,600</td>
                                </tr>
                                <tr>
                                    <td>Jena Gaines</td>
                                    <td>Office Manager</td>
                                    <td>London</td>
                                    <td>30</td>
                                    <td>2008/12/19</td>
                                    <td>$90,560</td>
                                </tr>
                                <tr>
                                    <td>Quinn Flynn</td>
                                    <td>Support Lead</td>
                                    <td>Edinburgh</td>
                                    <td>22</td>
                                    <td>2013/03/03</td>
                                    <td>$342,000</td>
                                </tr>
                                <tr>
                                    <td>Charde Marshall</td>
                                    <td>Regional Director</td>
                                    <td>San Francisco</td>
                                    <td>36</td>
                                    <td>2008/10/16</td>
                                    <td>$470,600</td>
                                </tr>
                                <tr>
                                    <td>Haley Kennedy</td>
                                    <td>Senior Marketing Designer</td>
                                    <td>London</td>
                                    <td>43</td>
                                    <td>2012/12/18</td>
                                    <td>$313,500</td>
                                </tr>
                                <tr>
                                    <td>Tatyana Fitzpatrick</td>
                                    <td>Regional Director</td>
                                    <td>London</td>
                                    <td>19</td>
                                    <td>2010/03/17</td>
                                    <td>$385,750</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">{{lotto.seq}} Tap</div>
                </div>
                <div class="card-body">
                    <div class="chart-container">
                        <canvas id="barChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Rate of numbers </div>
                </div>
                <div class="card-body">
                    <div class="chart-container">
                        <canvas id="pieChart" style="width: 50%; height: 50%"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Radar Chart</div>
                </div>
                <div class="card-body">
                    <div class="chart-container">
                        <canvas id="radarChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Bubble Chart</div>
                </div>
                <div class="card-body">
                    <div class="chart-container">
                        <canvas id="bubbleChart"></canvas>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>

<!-- <table class="table-contents" style="padding:10px">
	<tr>
		<th>회차</th>
		<th>첫번째</th>
		<th>두번째</th>
		<th>세번째</th>
		<th>네번째</th>
		<th>다섯번째</th>
		<th>여섯번째</th>
	</tr>
	
	<tr>
		<td>{{lotto.seq}}</td>
		<td>{{lotto.n1}}</td>
		<td>{{lotto.n2}}</td>
		<td>{{lotto.n3}}</td>
		<td>{{lotto.n4}}</td>
		<td>{{lotto.n5}}</td>
		<td>{{lotto.n6}}</td>
	</tr>
</table> -->

{%endfor%}
{% endblock content %}



{% block javascripts %}

<script>

	////////////////////////////////////////////
	/////////////// 버튼 활성화 /////////////////
	////////////////////////////////////////////
	$(function(){
		$("#turn").on('input', function(){
			if($("#turn").val()=='')
				$("#TestBtn").attr("disabled",true);
			else
				$("#TestBtn").attr("disabled",false);
			});
	})
	/////////////////////////////////////////////
	/////////////// 테이블 형식 //////////////////
	////////////////////////////////////////////

	$(document).ready(function() {
			$('#basic-datatables').DataTable({
				// 표시 건수기능 숨기기
				lengthChange: true,
				// 검색 기능 숨기기
				searching: true,
				// 정렬 기능 숨기기
				ordering: true,
				// 정보 표시 숨기기
				info: true,
				// 페이징 기능 숨기기
				paging: true
			});
		});

	////////////////////////////////////////////
	////////////////////////////////////////////

	
	// 데이터 받기
	var temp = "{{lottos}}";

	// 데이터 정제
	var temp2 = temp.replace(/&#x27;/g, "\"");

	// Object로 변환 
	var data = JSON.parse(temp2);	

	// 데이터 뽑기
	var lotto_data = Object.values(data[0]).splice(0,11);

	//alter(typeof(lotto_data));

	var barChart = document.getElementById('barChart').getContext('2d');
	var pieChart = document.getElementById('pieChart').getContext('2d');
	var radarChart = document.getElementById('radarChart').getContext('2d');
	var bubbleChart = document.getElementById('bubbleChart').getContext('2d');

	var myBarChart = new Chart(barChart, {
				type: 'bar',
				data: {
					labels: ["Num1", "Num2", "Num3", "Num4", "Num5", "Num6"],
					datasets : [{
						label: "Number",
						backgroundColor: 'rgb(23, 125, 255)',
						borderColor: 'rgb(23, 125, 255)',
						data: [lotto_data[1],lotto_data[2],lotto_data[3],lotto_data[4]
						      ,lotto_data[5],lotto_data[6]],
					}],
				},
				options: {
					responsive: true,
					maintainAspectRatio: false,
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero:true
							}
						}]
					},
				}
			});

	var myPieChart = new Chart(pieChart, {
			type: 'pie',
			data: {
				datasets: [{
					data: [50, 35, 15],
					backgroundColor :["#1d7af3","#f3545d","#fdaf4b"],
					borderWidth: 0
				}],
				labels: ['New Visitors', 'Subscribers', 'Active Users'] 
			},
			options : {
				responsive: true, 
				maintainAspectRatio: false,
				legend: {
					position : 'bottom',
					labels : {
						fontColor: 'rgb(154, 154, 154)',
						fontSize: 11,
						usePointStyle : true,
						padding: 20
					}
				},
				pieceLabel: {
					render: 'percentage',
					fontColor: 'white',
					fontSize: 14,
				},
				tooltips: false,
				layout: {
					padding: {
						left: 20,
						right: 20,
						top: 20,
						bottom: 20
					}
				}
			}
		});

	var myRadarChart = new Chart(radarChart, {
			type: 'radar',
			data: {
				labels: ['Running', 'Swimming', 'Eating', 'Cycling', 'Jumping'],
				datasets: [{
					data: [20, 10, 30, 2, 30],
					borderColor: '#1d7af3',
					backgroundColor : 'rgba(29, 122, 243, 0.25)',
					pointBackgroundColor: "#1d7af3",
					pointHoverRadius: 4,
					pointRadius: 3,
					label: 'Team 1'
				}, {
					data: [10, 20, 15, 30, 22],
					borderColor: '#716aca',
					backgroundColor: 'rgba(113, 106, 202, 0.25)',
					pointBackgroundColor: "#716aca",
					pointHoverRadius: 4,
					pointRadius: 3,
					label: 'Team 2'
				},
				]
			},
			options : {
				responsive: true, 
				maintainAspectRatio: false,
				legend : {
					position: 'bottom'
				}
			}
		});

	var myBubbleChart = new Chart(bubbleChart,{
		type: 'bubble',
		data: {
			datasets:[{
				label: "Car", 
				data:[{x:25,y:17,r:25},{x:30,y:25,r:28}, {x:35,y:30,r:8}], 
				backgroundColor:"#716aca"
			},
			{
				label: "Motorcycles", 
				data:[{x:10,y:17,r:20},{x:30,y:10,r:7}, {x:35,y:20,r:10}], 
				backgroundColor:"#1d7af3"
			}],
		},
		options: {
			responsive: true, 
			maintainAspectRatio: false,
			legend: {
				position: 'bottom'
			},
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero:true
					}
				}],
				xAxes: [{
					ticks: {
						beginAtZero:true
					}
				}]
			},
		}
	});
</script>

{% endblock javascripts %}
