{% extends "layouts/base.html" %}

{% block title %} Chart JS {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

<!-- #################################################### -->
<!-- static/assets/css/atlantis.css 파일 class 색깔 정하기 -->
<!-- #################################################### -->
{% block content %}

<div class="page-inner">
	<div class="page-header">
            <h4 class="page-title">Forms</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="#">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Forms</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">
                        Basic Form
                    </a>
                </li>
            </ul>
        </div>
    <div class="row">
    	<div class="col-md-12">
            <div class="card">
                <div class="card-header">
                	<div class="card-title">
                		<div style ="float:left">
                			<h2>
                                Please pattern input
                            </h2>
                		</div>
                		<form action ="/ptnlotto" method = "GET">
	                		<div style ="float:right">
	                			<input class="btn btn-info"
	                			       type="submit" 
	                			       id="TestBtn"
	                			       disabled="true"
	                			       value="제출">
	               			</div>
	               			<div style ="float:right; margin-right:5px;
                                         height:40px; width:50px;">
		                		<input id="pt30"
                                       name="pt30" 
		                		       type="text"
		                		       class="form-control"
		                		       placeholder="30">
	                		</div>
                            <div style ="float:right; margin-right:5px;
                                         height:40px; width:50px;">
                                <input id="pt10" 
                                       name="pt10" 
                                       type="text"
                                       class="form-control"
                                       placeholder="10">
                            </div>
                            <div style ="float:right; margin-right:5px;
                                         height:40px; width:50px;">
                                <input id="pt5" 
                                       name="pt5" 
                                       type="text"
                                       class="form-control"
                                       placeholder="5">
                            </div>
                            <div style ="float:right; margin-right:5px;
                                         height:40px; width:50px;">
                                <input id="pt3" 
                                       name="pt3" 
                                       type="text"
                                       class="form-control"
                                       placeholder="3">
                            </div>
                            <div style ="float:right; margin-right:5px;
                                         height:40px; width:60px;">
                                <input id="seq" 
                                       name="seq" 
                                       type="text"
                                       class="form-control"
                                       placeholder="seq">
                            </div>
                		</form>
                	</div>
                </div>
                {% for lastwin in lastwins %} 
                <div class="card-body"> 
                    <p class="demo">
                        <ul class="pagination pg-primary">
                            <li class="page-item active">
                                <a class="page-link">{{lastwin.seq}}</a>
                            </li>
                            <li class="page-item text-dark">
                                <a class="page-link">{{lastwin.n1}}</a>
                            </li>
                            <li class="page-item text-dark">
                                <a class="page-link">{{lastwin.n2}}</a>
                            </li>
                            <li class="page-item text-dark">
                                <a class="page-link">{{lastwin.n3}}</a>
                            </li>
                            <li class="page-item text-dark">
                                <a class="page-link">{{lastwin.n4}}</a>
                            </li>
                            <li class="page-item text-dark">
                                <a class="page-link">{{lastwin.n5}}</a>
                            </li>
                            <li class="page-item text-dark">
                                <a class="page-link">{{lastwin.n6}}</a>
                            </li>
                        </ul>
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" style ="float:left">
                    	Pattern Number
                    </h4>
                    <div style ="float:right">
                        <form action ="/ptnlotto" method = "GET">
                        <input class="btn btn-info"
                               type="submit"
                               value="Again">
                        </form>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="basic-datatables" 
                               class="display table table-striped table-hover" >
                            <thead>
                                <tr>
                                    <th>n1</th>
                                    <th>n2</th>
                                    <th>n3</th>
                                    <th>n4</th>
                                    <th>n5</th>
                                    <th>n6</th>
                                    <th>bin</th>
                                    <th>pt1</th>
                                    <th>pt2</th>
                                    <th>pt3</th>
                                    <th>pt4</th>
                                    <th>pt5</th>
                                    <th>pt6</th>
                                </tr>
                            </thead>
                            <tbody>
                            	{% for ptnlotto in ptnlottos %} 
                            	<tr>
		                            <td>{{ptnlotto.n1}}</td>
			                        <td>{{ptnlotto.n2}}</td>
			                        <td>{{ptnlotto.n3}}</td>
			                        <td>{{ptnlotto.n4}}</td>
			                        <td>{{ptnlotto.n5}}</td>
			                        <td>{{ptnlotto.n6}}</td>
			                        <td>{{ptnlotto.bin}}</td>
			                        <td>{{ptnlotto.pt1}}</td>
			                        <td>{{ptnlotto.pt2}}</td>
			                        <td>{{ptnlotto.pt3}}</td>
			                        <td>{{ptnlotto.pt4}}</td>
			                        <td>{{ptnlotto.pt5}}</td>
			                        <td>{{ptnlotto.pt6}}</td>
			                    </tr>
			                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}

<script>

    ////////////////////////////////////////////
    /////////////// 버튼 활성화 /////////////////
    ////////////////////////////////////////////
    
    
    $(function(){
        $("#pt30").on('input', function(){
            if($("#pt30").val()=='')
                $("#TestBtn").attr("disabled",true);
            else
                $("#TestBtn").attr("disabled",false);
            });
    });

    /////////////////////////////////////////////
    /////////////// 테이블 형식 //////////////////
    ////////////////////////////////////////////
    
    $(document).ready(function(){
            $('#basic-datatables').DataTable({
                // 표시 건수기능 숨기기
                lengthChange: true,
                // 검색 기능 숨기기
                searching: false,
                // 정렬 기능 숨기기
                ordering: true,
                // 정보 표시 숨기기
                info: true,
                // 페이징 기능 숨기기
                paging: true
            });
        });

    

    
</script>

{% endblock javascripts %}
