{% extends "layouts/base.html" %}

{% block title %} Chart JS {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

<!-- #################################################### -->
<!-- static/assets/css/atlantis.css 파일 class 색깔 정하기 -->
<!-- #################################################### -->
{% block content %}

<div class="page-inner">
	<div class="page-header">
            <h4 class="page-title">Forms</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="#">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Forms</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="https://www.chartjs.org/" target="_blank">
                    	chartjs
                    </a>
                </li>
            </ul>
        </div>
    <div class="row">
    	<div class="col-md-12">
            <div class="card">
                <div class="card-header">
                	<div class="card-title">
                		<div style ="float:left">
                			<h2>
                                Recently
                            </h2>
                		</div>
                	</div>
                </div>
                {% for lastwin in lastwins %} 
                <div class="card-body"> 
                    <p class="demo">
                        <ul class="pagination pg-primary">
                            <li class="page-item active">
                                <a class="page-link">{{lastwin.seq}}</a>
                            </li>
                            <li class="page-item text-dark">
                                <a class="page-link">{{lastwin.n1}}</a>
                            </li>
                            <li class="page-item text-dark">
                                <a class="page-link">{{lastwin.n2}}</a>
                            </li>
                            <li class="page-item text-dark">
                                <a class="page-link">{{lastwin.n3}}</a>
                            </li>
                            <li class="page-item text-dark">
                                <a class="page-link">{{lastwin.n4}}</a>
                            </li>
                            <li class="page-item text-dark">
                                <a class="page-link">{{lastwin.n5}}</a>
                            </li>
                            <li class="page-item text-dark">
                                <a class="page-link">{{lastwin.n6}}</a>
                            </li>
                        </ul>
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Rate of numbers </div>
                </div>
                <div class="card-body">
                    <div class="chart-container">
                        <canvas id="pieChart" style="width: 50%; height: 50%"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">???????? </div>
                </div>
                <div class="card-body">
                    <div class="chart-container">
                        <canvas id="queChart" style="width: 50%; height: 50%"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Frequency of appearances</div>
                </div>
                <div class="card-body">
                    <div class="chart-container">
                        <canvas id="FrequencyBar"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title"> Recently Frequency of appearances</div>
                </div>
                <div class="card-body">
                    <div class="chart-container">
                        <canvas id="RecentlyBar"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                    	Win List
                    </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="win-datatables" 
                               class="display table table-striped table-hover" >
                            <thead>
                                <tr>
                                    <th>seq</th>
                                    <th>n1</th>
                                    <th>n2</th>
                                    <th>n3</th>
                                    <th>n4</th>
                                    <th>n5</th>
                                    <th>n6</th>
                                </tr>
                            </thead>
                            <tbody>
                            	{% for winlotto in winlottos %} 
                            	<tr>
		                            <td>{{winlotto.seq}}</td>
			                        <td>{{winlotto.n1}}</td>
			                        <td>{{winlotto.n2}}</td>
			                        <td>{{winlotto.n3}}</td>
			                        <td>{{winlotto.n4}}</td>
			                        <td>{{winlotto.n5}}</td>
			                        <td>{{winlotto.n6}}</td>
			                    </tr>
			                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        Win Patten List
                    </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="win_patten-datatables" 
                               class="display table table-striped table-hover" >
                            <thead>
                                <tr>
                                    <th>seq</th>
                                    <th>3cnt</th>
                                    <th>5cnt</th>
                                    <th>10cnt</th>
                                    <th>30cnt</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for getwinpatten in getwinpattens %} 
                                <tr>
                                    <td>{{getwinpatten.seq}}</td>
                                    <td>{{getwinpatten.3cnt}}</td>
                                    <td>{{getwinpatten.5cnt}}</td>
                                    <td>{{getwinpatten.10cnt}}</td>
                                    <td>{{getwinpatten.30cnt}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}

<script>

    /////////////////////////////////////////////
    /////////////// 테이블 형식 //////////////////
    ////////////////////////////////////////////
    
    $(document).ready(function(){
            $('#win-datatables').DataTable({
                // 표시 건수기능 숨기기
                lengthChange: true,
                // 검색 기능 숨기기
                searching: true,
                // 정렬 기능 숨기기
                ordering: true,
                order: [[0, 'desc']],
                // 정보 표시 숨기기
                info: true,
                // 페이징 기능 숨기기
                paging: true
            });
        });

    $(document).ready(function(){
            $('#win_patten-datatables').DataTable({
                // 표시 건수기능 숨기기
                lengthChange: true,
                // 검색 기능 숨기기
                searching: true,
                // 정렬 기능 숨기기
                ordering: true,
                order: [[0, 'desc']],
                // 정보 표시 숨기기
                info: true,
                // 페이징 기능 숨기기
                paging: true
            });
        });

	/////////////////////////////////////////////
    /////////////// 데이터 받기 //////////////////
    /////////////////////////////////////////////
    
    // 비율 데이터
    var temp11 = "{{lastwins}}";
    var temp12 = temp11.replace(/&#x27;/g, "\"");
    var data11 = JSON.parse(temp12);

    var win_number = Object.values(data11[0]).splice(1,6);


    /////////////// 비율 그래프 처리//////////////
    var r1 = r10 = r20 = r30 = r40 = 0;

    for(i in win_number){
        if(win_number[i] < 10){
            r1 = r1 + 1;
        }    
        else if(win_number[i] < 20){
            r10 = r10 + 1;
        }
        else if(win_number[i] < 30){
            r20 = r20 + 1;
        }
        else if(win_number[i] < 40){
            r30 = r30 + 1;
        }
        else{
            r40 = r40 + 1;
        }
    }
    

    /////////////////////////////////////////////
    // 번호 모든출현 횟수
    var temp21 = "{{numallcnts}}";
    var temp22 = temp21.replace(/&#x27;/g, "\"");
    var data21 = JSON.parse(temp22);

    var all_cnt_number = [];

    for (var key in data21){ 
        all_cnt_number.push([Object.values(data21[key]).splice(0,1),
                             Object.values(data21[key]).splice(1,2)]);
    }


    /////////////////////////////////////////////
    // 최근 30회 출현 횟수
    var temp31 = "{{recently30s}}";
    var temp32 = temp31.replace(/&#x27;/g, "\"");
    var data31 = JSON.parse(temp32);

    var recently_30_number = [];

    for (var key in data31){ 
        recently_30_number.push([Object.values(data31[key]).splice(0,1),
                                 Object.values(data31[key]).splice(1,2)]);
    }



	/////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////

	var pieChart = document.getElementById('pieChart').getContext('2d');
    var queChart = document.getElementById('queChart').getContext('2d');
    var FrequencyBar = document.getElementById('FrequencyBar').getContext('2d');
    var RecentlyBar = document.getElementById('RecentlyBar').getContext('2d');


    
	var myPieChart = new Chart(pieChart, {
            type: 'pie',
            data: {
                datasets: [{
                    data: [r1, r10, r20, r30, r40],
                    backgroundColor :["#fdaf4b", "#1d7af3","#f3545d","#33261f","#1aa132"],
                    borderWidth: 0
                }],
                labels: ['range 1', 'range 10', 'range 20', 'range 30', 'range 40'] 
            },
            options : {
                responsive: true, 
                maintainAspectRatio: false,
                legend: {
                    position : 'bottom',
                    labels : {
                        fontColor: 'rgb(154, 154, 154)',
                        fontSize: 11,
                        usePointStyle : true,
                        padding: 20
                    }
                },
                pieceLabel: {
                    render: 'percentage',
                    fontColor: 'white',
                    fontSize: 14,
                },
                tooltips: false,
                layout: {
                    padding: {
                        left: 20,
                        right: 20,
                        top: 20,
                        bottom: 20
                    }
                }
            }
        });


    var queChart = new Chart(queChart, {
            type: 'pie',
            data: {
                datasets: [{
                    data: [r1, r10, r20, r30, r40],
                    backgroundColor :["#fdaf4b", "#1d7af3","#f3545d","#33261f","#1aa132"],
                    borderWidth: 0
                }],
                labels: ['range 1', 'range 10', 'range 20', 'range 30', 'range 40'] 
            },
            options : {
                responsive: true, 
                maintainAspectRatio: false,
                legend: {
                    position : 'bottom',
                    labels : {
                        fontColor: 'rgb(154, 154, 154)',
                        fontSize: 11,
                        usePointStyle : true,
                        padding: 20
                    }
                },
                pieceLabel: {
                    render: 'percentage',
                    fontColor: 'white',
                    fontSize: 14,
                },
                tooltips: false,
                layout: {
                    padding: {
                        left: 20,
                        right: 20,
                        top: 20,
                        bottom: 20
                    }
                }
            }
        });
    

    var FrequencyBar = new Chart(FrequencyBar, {
            type: 'horizontalBar',
            data: {
                labels: [all_cnt_number[0][0],all_cnt_number[1][0],all_cnt_number[2][0],
                         all_cnt_number[3][0],all_cnt_number[4][0],all_cnt_number[5][0],
                         all_cnt_number[6][0],all_cnt_number[7][0],all_cnt_number[8][0],
                         all_cnt_number[9][0]],
                datasets : [{
                    label: "전체 출현 횟수",
                    //backgroundColor: 'rgb(23, 125, 255)',
                    backgroundColor: "#25b3a2",
                    borderColor: "#25b3a2",
                    data: [all_cnt_number[0][1],all_cnt_number[1][1],all_cnt_number[2][1],
                           all_cnt_number[3][1],all_cnt_number[4][1],all_cnt_number[5][1],
                           all_cnt_number[6][1],all_cnt_number[7][1],all_cnt_number[8][1],
                           all_cnt_number[9][1]]
                }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        ticks:{
                            beginAtZero:true,   // 0부터 시작할 것인가
                            stepSize: 20,       // 숫자 간격 사이즈 
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero:true,
                            fontColor : "#FAFAD2" // 축 데이터 색깔
                        }
                    }]
                },
            }
        });

    var RecentlyBar = new Chart(RecentlyBar, {
            type: 'horizontalBar',
            data: {
                labels: [recently_30_number[0][0],recently_30_number[1][0],
                         recently_30_number[2][0],recently_30_number[3][0],
                         recently_30_number[4][0],recently_30_number[5][0],
                         recently_30_number[6][0],recently_30_number[7][0],
                         recently_30_number[8][0],recently_30_number[9][0]],
                datasets : [{
                    label: "최근 출현 횟수",
                    //backgroundColor: 'rgb(23, 125, 255)',
                    backgroundColor: "#ebdb2f",
                    borderColor: "#ebdb2f",
                    data: [recently_30_number[0][1],recently_30_number[1][1],
                           recently_30_number[2][1],recently_30_number[3][1],
                           recently_30_number[4][1],recently_30_number[5][1],
                           recently_30_number[6][1],recently_30_number[7][1],
                           recently_30_number[8][1],recently_30_number[9][1]]
                }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        ticks:{
                            beginAtZero:true,   // 0부터 시작할 것인가
                            stepSize: 5,       // 숫자 간격 사이즈 
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero:true,
                            fontColor : "#FAFAD2" // 축 데이터 색깔
                        }
                    }]
                },
            }
        });

</script>

{% endblock javascripts %}
