{% extends "layouts/base.html" %}

{% block title %} Chart JS {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="page-inner">
    <h4 class="page-title">유저</h4>
<!--        <div class="page-category">Simple yet flexible JavaScript charting for designers & developers. Please checkout their <a href="https://www.chartjs.org/" target="_blank">full documentation</a>.</div>-->
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">가입자</div>
                </div>
                <div class="card-body">
                    <div class="chart-container">
                        <canvas id="mmbr_join_cnt"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">일일방문자</div>
                </div>
                <div class="card-body">
                    <div class="chart-container">
                        <canvas id="day_visit"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">일일방문자</div>
                </div>
                <div class="card-body">
                    <div class="chart-container">
                        <canvas id="day_vdisit"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block javascripts %}


<script src="/static/assets/js/core/charts/colors.js"></script>     // 색깔
<script src="/static/assets/js/core/charts/charts_setting.js"></script>  // charts js 설정
<script>

    // 데이터 받기 //
    var userList = "{{users_list}}";

</script>

<script src="/static/assets/js/core/users/users_simsale.js"></script>
{% endblock javascripts %}