{% extends "layouts/base.html" %}

{% block title %} Chart JS {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% for lotto in lottos %}
<div class="page-inner">
    <h4 class="page-title"></h4>
    <div class="page-category">Simple yet flexible JavaScript charting for designers & developers. Please checkout their <a href="https://www.chartjs.org/" target="_blank">full documentation</a>.</div>
    <div class="row">
        <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">{{lotto.seq}} 회차</div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container">
                            <canvas id="barChart"></canvas>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<table class="table-contents" style="padding:10px">
	<tr>
		<th>회차</th>
		<th>첫번째</th>
		<th>두번째</th>
		<th>세번째</th>
		<th>네번째</th>
		<th>다섯번째</th>
		<th>여섯번째</th>
	</tr>
	
	<tr>
		<td>{{lotto.seq}}</td>
		<td>{{lotto.n1}}</td>
		<td>{{lotto.n2}}</td>
		<td>{{lotto.n3}}</td>
		<td>{{lotto.n4}}</td>
		<td>{{lotto.n5}}</td>
		<td>{{lotto.n6}}</td>
	</tr>
	
</table>

{%endfor%}
{% endblock content %}



{% block javascripts %}

<script>

var temp = "{{lottos}}";

var temp2 = temp.replace(/&#x27/g, "\"");

alert(temp2);

// var data_lotto = JSON.parse(temp2);
alert(typeof(temp2));


var barChart = document.getElementById('barChart').getContext('2d');

var myBarChart = new Chart(barChart, {
			type: 'bar',
			data: {
				labels: ["Num1", "Num2", "Num3", "Num4", "Num5", "Num6"],
				datasets : [{
					label: "Number",
					backgroundColor: 'rgb(23, 125, 255)',
					borderColor: 'rgb(23, 125, 255)',
					data: [1,2,3,4,5,6],
				}],
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero:true
						}
					}]
				},
			}
		});
</script>

{% endblock javascripts %}
