{% extends "layouts/base.html" %}

{% block title %} Chart JS {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="page-inner">
        <h4 class="page-title">앱 대시보드</h4>
<!--        <div class="page-category">Simple yet flexible JavaScript charting for designers & developers. Please checkout their <a href="https://www.chartjs.org/" target="_blank">full documentation</a>.</div>-->
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">카테고리별 매출</div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container">
                            <canvas id="sim_cate_sales"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">회원가입</div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container">
                            <canvas id="mmbr_join_cnt"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Line Chart</div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container">
                            <canvas id="lineChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Pie Chart</div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container">
                            <canvas id="pieChart" style="width: 50%; height: 50%"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">방문자대비 구매인원비율</div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container">
                            <canvas id="htmlLegendsChart"></canvas>
                        </div>
                        <div id="myChartLegend"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Doughnut Chart</div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container">
                            <canvas id="doughnutChart" style="width: 50%; height: 50%"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Radar Chart</div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container">
                            <canvas id="radarChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Bubble Chart</div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container">
                            <canvas id="bubbleChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}

{% block javascripts %}

	<script>

        <!--데이터 받기 -->
	    var temp = "{{dashboard_list}}";

        <!--데이터 수정 -->
        var temp2 = temp.replace(/&#39;/g, "\"");

        <!-- 수정된 데이터 배열에 담기 -->
        var data = JSON.parse(temp2);

        console.log(typeof(data));

        <!-- 회원방문자 데이터만 필터링 -->
        var sim_cate_sales_housekeeping = Object.values(data[0]).splice(2,11)
        sim_cate_sales_fashion          = Object.values(data[1]).splice(2,11)
        sim_cate_sales_beauty           = Object.values(data[2]).splice(2,11)
        sim_cate_sales_food             = Object.values(data[3]).splice(2,11);

        <!-- 일일가입자 카카오, 네이버, 일반가입-->
        var day_join_kakao_data = Object.values(data[4]).splice(2,11)
        day_join_naver_data = Object.values(data[5]).splice(2,11)
        day_join_gnrl_data  = Object.values(data[6]).splice(2,11);

        <!-- 방문자대비 구매인원비율 -->
        var buy_rate = Object.values(data[7]).splice(2,11)



		var sim_cate_sales = document.getElementById('sim_cate_sales').getContext('2d'),
		mmbr_join_cnt = document.getElementById('mmbr_join_cnt').getContext('2d'),
		lineChart = document.getElementById('lineChart').getContext('2d'),
		pieChart = document.getElementById('pieChart').getContext('2d'),
		doughnutChart = document.getElementById('doughnutChart').getContext('2d'),
		radarChart = document.getElementById('radarChart').getContext('2d'),
		bubbleChart = document.getElementById('bubbleChart').getContext('2d'),
		htmlLegendsChart = document.getElementById('htmlLegendsChart').getContext('2d');

        var mySim_cate_sales = new Chart(sim_cate_sales, {
			type: 'line',
			data: {
				labels: ["10일전", "9일전", "8일전", "7일전", "6일전", "5일전", "4일전", "3일전", "2일전", "1일전"],
				datasets: [{
					label: "뷰티",
					borderColor: "#bd24d1",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#bd24d1",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: [sim_cate_sales_beauty[10],sim_cate_sales_beauty[9],sim_cate_sales_beauty[8],sim_cate_sales_beauty[7],sim_cate_sales_beauty[6]
					      ,sim_cate_sales_beauty[5],sim_cate_sales_beauty[4],sim_cate_sales_beauty[3],sim_cate_sales_beauty[2],sim_cate_sales_beauty[1]]
				}, {
					label: "살림",
					borderColor: "#2486d1",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#2486d1",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: [sim_cate_sales_housekeeping[10],sim_cate_sales_housekeeping[9],sim_cate_sales_housekeeping[8],sim_cate_sales_housekeeping[7],sim_cate_sales_housekeeping[6]
					      ,sim_cate_sales_housekeeping[5],sim_cate_sales_housekeeping[4],sim_cate_sales_housekeeping[3],sim_cate_sales_housekeeping[2],sim_cate_sales_housekeeping[1]]
				}, {
					label: "패션",
					borderColor: "#d12444",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#d12444",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: [sim_cate_sales_fashion[10],sim_cate_sales_fashion[9],sim_cate_sales_fashion[8],sim_cate_sales_fashion[7],sim_cate_sales_fashion[6]
					      ,sim_cate_sales_fashion[5],sim_cate_sales_fashion[4],sim_cate_sales_fashion[3],sim_cate_sales_fashion[2],sim_cate_sales_fashion[1]]
				}, {
					label: "푸드",
					borderColor: "#3ed124",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#3ed124",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: [sim_cate_sales_food[10],sim_cate_sales_food[9],sim_cate_sales_food[8],sim_cate_sales_food[7],sim_cate_sales_food[6]
					      ,sim_cate_sales_food[5],sim_cate_sales_food[4],sim_cate_sales_food[3],sim_cate_sales_food[2],sim_cate_sales_food[1]]
				}]
			},
			options : {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					position: 'top',
				},
				scales: {
				    yAxes: [
				        {
				            ticks: {
				                callback: function(label, index, labels)
				                {
				                    return label/1000+'만';
				                }
				            },
				            scaleLable: {
				                display: true,
				                labelString: '1k = 1000'
				            }
				        }
				    ]
				},
				tooltips: {
					bodySpacing: 4,
					mode:"nearest",
					intersect: 0,
					position:"nearest",
					xPadding:10,
					yPadding:10,
					caretPadding:10,
                    callbacks: {
                          label: function(tooltipItem, data)
                          {
                              var dataLabel = data.labels[tooltipItem.index];
                              var value = ': ' + data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toLocaleString();

                              if (Chart.helpers.isArray(dataLabel))
                              {
                                  dataLabel = dataLabel.slice();
                                  dataLabel[0] += value;
                              }
                              else
                              {
                                  dataLabel += value;
                              }

                              return dataLabel;
                          }
                    }
				},
				layout:{
				    padding:{left:1,right:15,top:1,bottom:1}
				}

			}
		});



        var myMmbr_join_cnt = new Chart(mmbr_join_cnt, {
			type: 'bar',
			data: {
				labels: ["10일전", "9일전", "8일전", "7일전", "6일전", "5일전", "4일전", "3일전", "2일전", "1일전"],
				datasets : [{
					label: "카카오",
					backgroundColor: '#fdaf4b',
					borderColor: '#fdaf4b',
					data: [day_join_kakao_data[10],day_join_kakao_data[9],day_join_kakao_data[8],day_join_kakao_data[7],day_join_kakao_data[6]
					      ,day_join_kakao_data[6],day_join_kakao_data[5],day_join_kakao_data[4],day_join_kakao_data[3],day_join_kakao_data[2]],
				},{
					label: "네이버",
					backgroundColor: '#59d05d',
					borderColor: '#59d05d',
					data: [day_join_naver_data[10],day_join_naver_data[9],day_join_naver_data[8],day_join_naver_data[7],day_join_naver_data[6]
					      ,day_join_naver_data[6],day_join_naver_data[5],day_join_naver_data[4],day_join_naver_data[3],day_join_naver_data[2]],
				}, {
					label: "일반가입",
					backgroundColor: '#8c9a9c',
					borderColor: '#8c9a9c',
					data: [day_join_gnrl_data[10],day_join_gnrl_data[9],day_join_gnrl_data[8],day_join_gnrl_data[7],day_join_gnrl_data[6]
					      ,day_join_gnrl_data[6],day_join_gnrl_data[5],day_join_gnrl_data[4],day_join_gnrl_data[3],day_join_gnrl_data[2]],
				}],
			},
			options: {
				responsive: true, maintainAspectRatio: false, legend: {position : 'bottom'},
				legend: {
					position: 'top',
				},
<!--				title: {display: true,text: '가입자수'},-->
				tooltips: {mode: 'index',intersect: false},
				responsive: true,
				scales: {xAxes: [{stacked: true,}],
				yAxes: [{stacked: true}]}
			}
		});

		var myLineChart = new Chart(lineChart, {
			type: 'line',
			data: {
				labels: ["10일전", "9일전", "8일전", "7일전", "6일전", "5일전", "4일전", "3일전", "2일전", "1일전"],
				datasets: [{
					label: "Active Users",
					borderColor: "#1d7af3",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#1d7af3",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: [542, 480, 430, 550, 530, 453, 380, 434, 568, 610, 700, 900]
				    }, {
				        type: 'line',
				        data: [700, 800, 430, 550, 530, 453, 380, 434, 568, 610, 700, 900],
				}]
			},
			options : {
				responsive: true,
				maintainAspectRatio:false,
                    legend:
                    {
                        position: 'top',
                        labels :
                        {
                            padding: 10,
                            fontColor: '#1d7af3',
                        }
                    },
				tooltips:
				{
				    bodySpacing: 4,
				    mode:"nearest",
				    intersect: 0,
				    position:"nearest",
				    xPadding:10,
				    yPadding:10,
				    caretPadding:10,
				},
				layout:
				{
				    padding:
				    {
				        left:15,
				        right:15,
				        top:1,
				        bottom:15
				    }
				},
		    }
		});




		var myPieChart = new Chart(pieChart, {
			type: 'pie',
			data: {
				datasets: [{
					data: [50, 35, 15],
					backgroundColor :["#1d7af3","#f3545d","#fdaf4b"],
					borderWidth: 0
				}],
				labels: ['New Visitors', 'Subscribers', 'Active Users']
			},
			options : {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					position : 'bottom',
					labels : {
						fontColor: 'rgb(154, 154, 154)',
						fontSize: 11,
						usePointStyle : true,
						padding: 20
					}
				},
				pieceLabel: {
					render: 'percentage',
					fontColor: 'white',
					fontSize: 14,
				},
				tooltips: false,
				layout: {
					padding: {
						left: 20,
						right: 20,
						top: 20,
						bottom: 20
					}
				}
			}
		})

		var myDoughnutChart = new Chart(doughnutChart, {
			type: 'doughnut',
			data: {
				datasets: [{
					data: [10, 20, 30],
					backgroundColor: ['#f3545d','#fdaf4b','#1d7af3']
				}],

				labels: [
				'Red',
				'Yellow',
				'Blue'
				]
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				legend : {
					position: 'bottom'
				},
				layout: {
					padding: {
						left: 20,
						right: 20,
						top: 20,
						bottom: 20
					}
				}
			}
		});

		var myRadarChart = new Chart(radarChart, {
			type: 'radar',
			data: {
				labels: ['Running', 'Swimming', 'Eating', 'Cycling', 'Jumping'],
				datasets: [{
					data: [20, 10, 30, 2, 30],
					borderColor: '#1d7af3',
					backgroundColor : 'rgba(29, 122, 243, 0.25)',
					pointBackgroundColor: "#1d7af3",
					pointHoverRadius: 4,
					pointRadius: 3,
					label: 'Team 1'
				}, {
					data: [10, 20, 15, 30, 22],
					borderColor: '#716aca',
					backgroundColor: 'rgba(113, 106, 202, 0.25)',
					pointBackgroundColor: "#716aca",
					pointHoverRadius: 4,
					pointRadius: 3,
					label: 'Team 2'
				},
				]
			},
			options : {
				responsive: true,
				maintainAspectRatio: false,
				legend : {
					position: 'bottom'
				}
			}
		});

		var myBubbleChart = new Chart(bubbleChart,{
			type: 'bubble',
			data: {
				datasets:[{
					label: "Car",
					data:[{x:25,y:17,r:25},{x:30,y:25,r:28}, {x:35,y:30,r:8}],
					backgroundColor:"#716aca"
				},
				{
					label: "Motorcycles",
					data:[{x:10,y:17,r:20},{x:30,y:10,r:7}, {x:35,y:20,r:10}],
					backgroundColor:"#1d7af3"
				}],
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					position: 'bottom'
				},
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero:true
						}
					}],
					xAxes: [{
						ticks: {
							beginAtZero:true
						}
					}]
				},
			}
		});


		// Chart with HTML Legends

		var gradientStroke = htmlLegendsChart.createLinearGradient(500, 0, 100, 0);
		gradientStroke.addColorStop(0, '#177dff');
		gradientStroke.addColorStop(1, '#80b6f4');

		var gradientFill = htmlLegendsChart.createLinearGradient(500, 0, 100, 0);
		gradientFill.addColorStop(0, "rgba(23, 125, 255, 0.7)");
		gradientFill.addColorStop(1, "rgba(128, 182, 244, 0.3)");


		var myHtmlLegendsChart = new Chart(htmlLegendsChart, {
			type: 'line',
			data: {
				labels: ["10일전", "9일전", "8일전", "7일전", "6일전", "5일전", "4일전", "3일전", "2일전", "1일전"],
				datasets: [ {
					label: "Active Users",
					borderColor: gradientStroke,
					pointBackgroundColor: gradientStroke,
					pointRadius: 0,
					backgroundColor: gradientFill,
					legendColor: '#177dff',
					fill: true,
					borderWidth: 1,
					data: [buy_rate[10],buy_rate[9],buy_rate[8],buy_rate[7],buy_rate[6]
					      ,buy_rate[5],buy_rate[4],buy_rate[3],buy_rate[2],buy_rate[1]]
				}]
			},
			options : {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false
				},
				tooltips: {
					bodySpacing: 4,
					mode:"nearest",
					intersect: 0,
					position:"nearest",
					xPadding:10,
					yPadding:10,
					caretPadding:10
				},
				layout:{
					padding:{left:15,right:15,top:15,bottom:15}
				},
				scales: {
					yAxes: [{
						ticks: {
<!--							fontColor: "rgba(0,0,0,0.5)",-->
							fontStyle: "500",
							beginAtZero: false,
							maxTicksLimit: 5,
							padding: 20
						},
						gridLines: {
							drawTicks: false,
							display: false
						}
					}],
					xAxes: [{
						gridLines: {
							zeroLineColor: "transparent"
						},
						ticks: {
							padding: 20,
<!--							fontColor: "rgba(0,0,0,0.5)",-->
							fontStyle: "500"
						}
					}]
				},
				legendCallback: function(chart) {
					var text = [];
					text.push('<ul class="' + chart.id + '-legend html-legend">');
					for (var i = 0; i < chart.data.datasets.length; i++) {
						text.push('<li><span style="background-color:' + chart.data.datasets[i].legendColor + '"></span>');
						if (chart.data.datasets[i].label) {
							text.push(chart.data.datasets[i].label);
						}
						text.push('</li>');
					}
					text.push('</ul>');
					return text.join('');
				}
			}
		});

		var myLegendContainer = document.getElementById("myChartLegend");

		// generate HTML legend
		myLegendContainer.innerHTML = myHtmlLegendsChart.generateLegend();

		// bind onClick event to all LI-tags of the legend
		var legendItems = myLegendContainer.getElementsByTagName('li');
		for (var i = 0; i < legendItems.length; i += 1) {
			legendItems[i].addEventListener("click", legendClickCallback, false);
		}

	</script>

{% endblock javascripts %}
